node_modules
.next
.next/
.env
.env.local
.env.*.local
dist
coverage
artifacts
artifacts/
tsconfig.tsbuildinfo
.DS_Store
*.log
.vscode
.idea
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next\cache
